* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.output {
  width: 75%;
}
.messageForm {
  width: 75%;
}
.list-group-item {
  word-wrap: break-word;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px !important;
  border-top-width: 2px !important;
}

.colorInput {
  height: 40px;
  width: 80px;
  border-radius: 5px;
}
