@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.output {
  width: 600px;
  min-height: 100px;
  max-height: 450px;
  overflow: auto;
  margin: 0 0 2rem 0 !important;
  padding: 0;
}
.output::-webkit-scrollbar {
  display: none;
}

.messageForm {
  width: 600px;
  height: 40px;
  padding: 0;
  margin: 0 !important;
}
.users-in-chat {
  opacity: 0;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px !important;
}
.bla {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.colorInput {
  border-radius: 5px;
}
.messages {
  width: 400px;
  word-wrap: break-word;
  overflow: auto;
  padding: 0 10px;
  border: 1px solid white;
  border-radius: 20px !important;
  margin-left: 0;
  background: rgba(128, 131, 255, 0.2);
  /* backdrop-filter: blur(1px); */
}

.my-message {
  margin-right: 0;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.152);
  backdrop-filter: blur(5px);
}
.message-text {
  color: black;
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Shippori Mincho", serif;
}
.content-container {
  padding: 0 20px;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 10px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1px);
}

.client-action {
  border-radius: 20px;
}

@media only screen and (max-width: 1900px) {
  .output {
    max-height: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .messageForm {
    width: 500px;
  }
  .output {
    width: 500px;
  }
  .content-container {
    width: 520px;
  }

  .messages {
    width: 280px;
  }
}

@media only screen and (max-width: 550px) {
  .messageForm {
    width: 450px;
  }
  .output {
    max-height: 300px;
    width: 450px;
  }
  .content-container {
    width: 470px;
  }
}
